html, body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

button {
  font: inherit;
}

#map {
  width: 100%;
  height: 100vh;
}

#intro {
  background: #0003;
  backdrop-filter: blur(10px);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
}

#intro[hidden] {
  display: none;
}

#start {
  font: inherit;
  cursor: pointer;
}

main {
  display: grid;
  grid-template-columns: 1fr 40vw;
}

aside {
  background: #282c34;
  color: white;
  overflow-y: auto;
  height: 100vh;
}

aside h2 {
  margin: 0 0.5rem 0.5rem;
}

aside header {
  padding: 0.5rem 0.5rem 0.5rem 0;
  display: flex;
  justify-content: space-between;
}
