html, body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

#map {
  width: 100%;
  height: 100vh;
}

#intro {
  background: #0003;
  backdrop-filter: blur(10px);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
}

#intro[hidden] {
  display: none;
}

#start {
  font: inherit;
  cursor: pointer;
}
