html {
  font-family: sans-serif;
  background: #111;
}

button {
  font: inherit;
}

#controls {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 1rem 0;
  width: 300px;
}

#oscilloscope,
#spectrum {
  border: solid 2px #eee;
  width: 350px;
  height: 150px;
  margin-top: 1rem;
}
